extends: default

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length: disable
  
  # Accept both `true` and `True`
  truthy:
    check-keys: false
  
  # Accept both `null` and `Null`
  comments-indentation: disable
  
  # Accept both `key: value` and `key:value`
  key-duplicates: enable
  
  # Accept both `key: value` and `key: value`
  trailing-spaces: enable
  
  # Accept both `key: value` and `key:value`
  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
  
  # Accept both `key: value` and `key:value`
  indentation:
    spaces: 2
    indent-sequences: true
  
  # Accept both `key: value` and `key:value`
  document-start: disable
  
  # Accept both `key: value` and `key:value`
  document-end: disable 